.user-header{
  background-color: #1d3557;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top:10vmax ;
  background-image: url(../images/dark-dot.png);
  position: static;
}

.avatar-container{
  display: flex;
  justify-content: center;
}

.avatar-container img{
  width: 25%;
}

.user-name{
  color: white;
  margin-top: 0%;
  font-weight: 200;
}

