nav {
  width: 100%;
  height: 120px;
  background-color: rgba(232, 172, 10, 0);
  color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}
nav #logo {
  font-family: "Bungee", sans-serif;
  font-size: 30px;
}
nav #nav-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
nav #nav-right .no-lower-margin {
  margin-bottom: 0px;
}
nav #nav-right .no-lower-margin .bold {
  font-weight: 600;
}
nav #nav-right #two-arrows-down {
  color: #e63946;
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #1d3557;
    position: relative;
  }
}
