.new-tweet{
  display: flex;
  flex-direction: column;
  width: 100%;
}

form{
  display: flex;
  flex-direction: column;
}

#tweet-text{
  background-color: #f9f9f9;
  border-bottom: 4px solid;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#tweet-text:focus{
  outline: none !important;
}

.counter{
  font-family: "Bungee", sans-serif;
}

#tweet-chars{
  display: flex;
  justify-content: space-between;
}

#tweet{
  background-color: #358530;
  font-family: "Bungee", sans-serif;
  font-size: 18px;
  color: white;
}

#alert{
  margin-top: 5px;
  color: red;
  font-size: 14px;;
}